/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }

  body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
  }

  .img{
    height: auto;
  }

  /* Header style start */

  .header{
    position: fixed;
    width: 100%;
    height: 75px;
    left: 0px;
    top: 0px;
    opacity: .85;
    z-index: 100;
  }

  .header_active{
    background: #131A32;
  }

  .wrapper{
    max-width: 1140px;
    min-height: 75px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .header_wrapper{
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .header_logo-pic{
    max-height: 75px;
    max-width: 362px;
  }

  .header_list{
    display: flex;
    flex-wrap: wrap;
  }

  .header_item{
    margin-right: 30px;
  }

  .header_item:last-child{
    margin-right: 0px;
  }

  .header_link{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
  }

  .header_link:hover, .header_link:focus, .header_link:active{
    opacity: 75%;
  }

  .header_burger{
    display: none;
    width: 40px;
    height: 30px;
    position: relative;
  }

  .burger_line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    right: 0;
  }

  .lines_active{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    right: 0;
  }


  .burger_line_first{
    top: 0;
  }

  .burger_line_second{
    top:50%;
    transform: translateY(-50%);
  }

  .burger_line_third{
    bottom: 0;
  }

  /* Header style end */

  .bg-img{
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    left: 0px;
    top: 75px;
    z-index: -1;
    background-size: cover;
  }

  .bg-img-icone_min_screen{
    display: none;
  }

  .bg-img-icone{
    max-width: 100%;
    max-height: 100%;
  }

  /* Intro style start */

  .intro{
    height: 100vh;
    background: url('/img/fist_page-bg.jpg') no-repeat;
    background-size: cover;
    padding-top: 376px;
  }

  .intro_title{
    margin-top: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    line-height: 40px;
    text-align: center;
    color: white;
  }

  .intro-end{
    width: 100%;
    height: 81px;
    left: 0px;
    top: 864px;
    background: #FFFFFF;
  }

  /* Intro style end */

  /* About_Me style start */

  .about-me{
    min-height: 486px;
    background-color: white;
    background-size: cover;
  }

  .about-me_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
  }

  .about-me_card-pic{
    max-width: 362px;
    height: 486px;    
    border-radius: 7px;
    background: url('/img/My_photo.jpg') no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }

  .my_photo{
    display: none;
  }

  .about-me_card-title{
    max-width: 362px;
    height: 77px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: top;
    color: #3B89D1;
  }

  .about-me_card-line{
    display: block;
    max-width: 70px;
    height: 2px;
    background-color: black;
  }

  .about-me_card-desc{
    margin-top: 30px;
    max-width: 362px;
    height: 260px;
    margin-bottom: 51px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #6397BF;
  }

  .more_info{
    text-align: center;
    max-width: 362px;
    height: 64px;
    width: 100%;
    background: #3B89D1;
    border-radius: 7px;
    font-size: 24px;
    line-height: 28px;
    font-family: Lato;
    color: black;
    text-decoration: none;
    user-select: none;
    padding: .7em 1.5em;
    outline: none;
  } 

  .more_info:hover {
    background: #2281d8; 
 }
 .more_info:active {
    background:#2281d8; 
   }


  .about-me_card-title-skills{
    max-width: 362px;
    height: 81px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
  }
 
  .about-me_card-title-desc{
    max-width: 362px;
    height: 32px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #6397BF;
  }

  .cards_grid{
    display: grid;
    grid-template-rows: repeat(6, 2fr);
    grid-row-gap: 20px;
  }

  progress {
    width: 100%; 
    display: block;
    border-radius : 7px;
    background: #C4C4C4;
    padding: 0;
    border: 0;
    text-align: center;
    height: 10px;
    box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);
    overflow:hidden;
    background: -o-linear-gradient(#2CB831, #2CB831 50%, #2CB831);

}

progress::-moz-progress-bar {
    background: -moz-linear-gradient(#2CB831, #2CB831 50%, #2CB831);
    border-radius: 7px;
}
progress::-webkit-progress-bar {
    background: #C4C4C4;
    box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);

}
progress::-webkit-progress-value {
    background: -webkit-linear-gradient(#2CB831, #2CB831 50%, #2CB831);
    border-radius: 7px;
}

  .card-html{
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }

  .card-elem-title{
    width: 100%;
    max-width: 192px;
    height: 32px;
    text-align: center;
  }

  .card-elem-desc{
    max-width: 170px;
    width: 100%;
    height: 32px;
    text-align: center;
  }
  
  /* END */

  .end{
    min-height: 75px;
    width: auto;
    height: 16vh;
    background: #FFFFFF;
  }

  /* END */

  /* About_Me style end */

  /* My_Jobs style start */

  .my_jobs, .contacts{
    height: auto;
    margin-bottom: 5vh;
    background-color: none;
    background-size: cover;
  }

  .title-info{
    max-width: 362px;
    width: 100%;
    height: 67px;
    margin: 0px 0px 30px 390px;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: white;
  }

  .my_jobs-cards{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 40px;
  }

  .card-img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(20%);
    margin-bottom: 10%;
  }

  .card-title{
    font-family: Roboto;
    width: 100%;
    height: 40px;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #000000;
  }
  
  .card-desc{
    font-family: Roboto;
    width: 100%;
    height: 45px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #3B89D1;
  }

  .my_jobs-card{
    width: 100%;
    height: 250px;
    background: #FFFFFF;
    border-radius: 30px;
  }
  /* My_Jobs style style end */

  /* Contacts  start */

   .contacts-cards{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-column-gap: 20px;
  }

  .contacts-card{
    width: 100%;
    min-height: 206px;
    background: #FFFFFF;
    border-radius: 30px;
  }

  .contacts-card-title{
    font-family: Roboto;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    color: #2281DA;
  }

  .card-title-desc, .contacts-vk{
    font-family: Roboto;
    display: block;
    margin-top: 10px; 
    font-size: 20px;
    text-align: center;
    color: #000000;
  }


  /* Contacts  end */

  /* Main end */

  /* Fotter start */

  .fotter-bg{
    min-height: 600px;
    width: 100vh;
    background-color: none;
    background-size: cover;
  }

  .footer-text{
    margin: 60px 0 0 0;`
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: white;
  }

  /* Fotter end */

  /* Media start */

  @media screen and (max-width: 1140px){
    .intro_title{
      margin-top: auto;
      font-size: 60px;
    }
    .contacts-cards{
      display: grid;
      grid-template-columns: repeat(2 ,1fr);
      grid-template-rows: repeat(2 ,1fr);
      grid-row-gap: 50px;
      grid-column-gap: 30px;
    }
    .title-info{
      margin-left: 0;
    }
    .contacts-card{
      margin-top: 20px;
    }
    .contacts-card-img-icone{
      width: 100%;
      transform: translateY(-20%);
    }
    .contacts-card-title{
      transform: translateY(-100%);
      font-size: 34px;
    }
    .card-title-desc,.contacts-vk{
      transform: translateY(-100%);
      font-size: 30px;
    }
    .card-img{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%;
      z-index: 1;
    }
    .card-title{
      font-family: Roboto;
      font-size: 24px;
      text-align: center;
      line-height: 26px;
      color: #000000;
      margin-bottom: 2vh;
    }
    .card-desc{
      /*margin-left: auto;
      margin-right: auto;*/
      font-family: Roboto;
      height: 45px;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #3B89D1;
    }
    .end{
      height: 8vh;
    }
    .footer-bg{
      height: 10vh;
    }
    .bg-img-icone_min_screen{
      display: block;
      margin: 0 auto;
    }
    .bg-img-icone{
      display: none;
    }
    .about-me_cards{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 15px;
    }
    .my_jobs-cards{
      display: grid;
      grid-template-columns: repeat(2 ,1fr);
      grid-row-gap: 10px;
      grid-column-gap: 10px;
    }
    .more_info{
      font-size: 15px;
    }
  }


  @media screen and (max-width: 870px){
    /* Header start */
    .header_burger{
      margin-right: 5%;
      display: block;
    }

    .header_nav{
      width: 100%;
      height: 100%;
      position: fixed;
      top:0;
      left:0;
      background-color: black;
      z-index: 10;
      padding: 75px;
      transform: translateY(1000%);
      transition: .2s all linear;
    }
    .header_nav_active{
      transform: translateY(0);
    }
    .header_item{
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    .header_item:last-child{
      margin-bottom: 0;;
    }
    .header_link{
      font-style: 42px;
      line-height: 48px;
    }
    .header_nav_close{
      width: 40px;
      height: 40px;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 11;
    }
    .header_nav_close_line{
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
    }
    .header_nav_close_line:first-child{
      transform: translateY(-50%) rotate(45deg);
    }
    .header_nav_close_line:last-child{
      transform: translateY(-50%) rotate(-45deg);
    }
    .header_logo{
      margin-left: 5%;
    }
    /* Header end */

    /* About me start */

    .intro_title{
      margin-top: auto;
      font-size: 60px;
    }
    .about-me_cards{
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }

    .about-me_card{
      margin-left: auto;
      margin-right: auto;
    }

    .my_jobs-card{
      margin-left: 5%;
      margin-right: 5%;
    }

    .about-me_card-pic{
      display: none;
    }

    .my_photo{
      display: block;
      border-radius: 7px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }

    .my_jobs-cards{
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
      background: none;
    }

    .card-img{
      text-align: center;
    }

    .my_jobs-card{
      width: auto;
      background: #FFFFFF;
      border-radius: 30px;
    }

    /* About me end */

    .contacts-cards{
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }

    .contacts-card{ 
      width: auto;
      margin-left: 15%;
      margin-right: 15%;  
      background: #FFFFFF;
      border-radius: 30px;
      margin-top: 40px;
    }

    .contacts-card-title{
      font-size: 34px;
    }
    .card-title-desc,.contacts-vk{
      font-size: 30px;
    }
    /* Contacts me end */

    .footer-text {
      margin: 60px 0 0 0;
      font-size: 28px;
    }

  }

  @media screen and (max-width: 470px){
    .intro_title{
      margin-top: auto;
      font-size: 30px;
    }
    .header_logo-pic {
      max-height: 75px;
      max-width: 75vw;
    }
    .about-me_card {
      margin-left: 5%;
      margin-right: 5%;
    }
    .my_photo-pic{
      width: 100%;
    }

    .card-desc, .card-title {
      font-size: 18px;
    }
    .contacts-card-title{
      font-size: 28px;
    }
    .contacts-vk, .card-title-desc{
      font-size: 24px;
    }
    .footer-text{
      font-size: 18px;
    }
    .contacts-card{ 
      margin-left: 5%;
      margin-right: 5%;
    }  
    .wrapper{
      padding: 0;
    }
    .footer-text {
      margin: 60px 0 0 0;
      font-size: 22px;
    }
  }

  /* Media end */
